* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF6F6;
}

@font-face {
    font-family: 'BR-Firma';
    src: url('./src/fonts/BR-Firma-Medium.otf') format('truetype');
    font-style: medium;
    font-weight: 600;
}

@font-face {
    font-family: 'BR-Firma';
    src: url('./src/fonts/BR-Firma-Bold.otf') format('truetype');
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: 'BR-Firma';
    src: url('./src/fonts/BR-Firma-Regular.otf') format('truetype');
    font-style: regular;
    font-weight: 300;
}

@font-face {
    font-family: 'BR-Firma';
    src: url('./src/fonts/BR-Firma-Light.otf') format('truetype');
    font-style: light;
    font-weight: 200;
}

.title-1{
    font-family: 'BR-Firma';
    font-weight: bold;
    font-size: 3.052rem;
}

.large-title{
    font-family: 'BR-Firma';
    font-weight: bold;
    font-size: 2.441rem;
}

.title-2{
    font-family: 'BR-Firma';
    font-weight: bold;
    font-size: 1.953rem;
}

.headline{
    font-family: 'BR-Firma';
    font-weight: bold; 
    font-size: 1.563rem;
}

.button{
    font-family: 'BR-Firma';
    font-weight: bold;
    font-size: 1.10rem;
}

.txt-body{
    font-family: 'BR-Firma';
    font-weight: 300;
    font-size: 1rem;
}

.subhead{
    font-family: 'BR-Firma';
    font-weight: 600;
    font-size: 1.25rem;
}

.footnote{
    font-family: 'BR-Firma';
    font-weight: 200;
    font-size: 0.8rem;
}

:root{
    --main-bg-color-black:#2D332F;
    --main-bg-color-red: #FF4751;
    --main-bg-color-purple: #5759AE;
    --secundary-color-aquamarine: #4DC9C1;
    --secundary-color-yellowgreen: #E0E15F;
    --secundary-color-rose: #FF6E81;
    --secundary-color-blue: #00B8EC;
    --secundary-color-grey: #BAC8CB;
    --neutral-color-one: #57716F;
    --neutral-color-two: #C7B4B4; 
    --neutral-color-two-900:#FFF8F8;
}

.btn-primary{
    background-color: var(--main-bg-color-black);
    color: var(--neutral-color-two-900);
    border-color: var(--neutral-color-two-900);
    border-width: 0px;
}

.btn-primary:hover{
    background-color: var(--neutral-color-two-900);
    color: var(--main-bg-color-black);
    border-width: 0px;
}

.btn-secondary{
    background-color: var(--neutral-color-two-900);
    color: var(--main-bg-color-black);
    border-color: var(--main-bg-color-black);
    border-width: 0px;
}

.btn-secondary:hover{
    background-color: var(--main-bg-color-black);
    color: var(--neutral-color-two-900);
    border-width: 0px;
}

.btn-outline-primary{
    background-color: rgba(255,255 , 255, 0);
    color: var(--neutral-color-two-900);
    border-color: var(--neutral-color-two-900);
    border-width: 2px;
    border-radius: 4px;
}

.btn-outline-primary:hover{
    background-color: rgba(255,255 , 255, 0);
    color: var(--main-bg-color-black);
    border-color: var(--main-bg-color-black);
    border-width: 2px;
    border-radius: 4px;
}

.btn-outline-secondary{
    background-color: rgba(255,255 , 255, 0);
    color: var(--main-bg-color-black);
    border-color: var(--main-bg-color-black);
    border-width: 2px;
    border-radius: 4px;
}

.btn-outline-secondary:hover{
    background-color: rgba(255,255 , 255, 0);
    color: var(--neutral-color-two-900);
    border-color: var(--neutral-color-two-900);
    border-width: 2px;
    border-radius: 4px;
}


/* Estilos Nathalia */
.container-fluid {
    width: 100%;
    background-color: var(--neutral-color-two-900);
}   
    
header ul li {
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--main-bg-color-black);
    transition: 0.7s;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 120px;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    margin-bottom: 1%;
}

.nav-icon button{
    background-color: var(--main-bg-color-black);
    color: var(--neutral-color-two-900);
    border-width: 2px;
    font-weight: normal;
    padding: 8px 16px;
}

.logo img {
    margin: 20px 0;
    display: flex;
    width: 120px;
    height: auto;
}

#nav-items {
    display: flex;
}

#nav-items li {
    list-style: none;
    margin: 0 15px;
    text-decoration: none;
}

#nav-items li:hover a{
    color: var(--secundary-color-aquamarine);
    border-bottom: 4px solid var(--secundary-color-aquamarine);
}


.wrap-1 {
    background-image: url(./src/images/natha-img/portrait.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
    height: 670px;
    width: 100%;
}

.wrap-text {
    text-align: left;
    text-transform: uppercase;
    padding-top: 12%;
    margin: 0 120px;
    color: var(--neutral-color-two-900);
}

.wrap-text h4 {
    margin-top: 4%;
    margin-bottom: 2%;
    letter-spacing: 4px;
}

#section-1 .wrap-text p span {
    color: var(--main-bg-color-purple);
    display: inline-block;
    line-height: 30px;
    display: none;
}

#section-1 .wrap-text p span.text-in {
    display: block;
    animation: textIn .5s ease;
}

#section-1 .wrap-text p span.text-out {
    animation: textOut .5s ease;
}

@keyframes textIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes textOut {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.btn-up button{
    background-color: var(--main-bg-color-black);
    color: var(--neutral-color-two-900);
    margin: 0 120px;
    max-width: 200px;
    border-width: 2px;
    padding: 15px 32px;
}

#section-2 h1 {
    color: var(--main-bg-color-black);
    text-align: center;
    margin-top: 80px;
}

#section-2 h2 {
    font-size: 2.5rem;
    color: var(--main-bg-color-purple);
    text-align: center;
}

#pop-images img {
    height:200px;
    width: auto;
    transition: transform .2s;
}

#pop-images {
    column-gap: 40px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#pop-images img:hover {
    transform:scale(1.3);
}

.carousel-inner {
    padding: 7em;
}

.pop-card {
    background-color: var(--secundary-color-aquamarine);
    margin: 0 0.7em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--neutral-color-one);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
}

.pop-card .img-wrapper {
    max-width: 100%;
    height: 23em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-card img {
    max-height: 100%;
  }

@media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
}

.middle {
    color: var(--neutral-color-two-900);
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.pop-card-button button {
    padding: 10px 16px;
}

.pop-card:hover .pop-img {
    opacity: 0.3;
}
  

.pop-card:hover .middle {
    opacity: 1;
}

#containt-1 {
    height: 80vh;
    margin: 0 120px 0 120px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    color: var(--main-bg-color-purple);
}

#containt-1 img{
    height: 500px;
    transition: all 2s linear;
}

#containt-1 img:hover{
    transform: scale(1.3);
}

#containt-1 h1, #containt-1 p{
    padding-left: 160px;
}

#containt-1 p {
    color: var(--main-bg-color-black);
}

figure {
    height: 500px;
    overflow: hidden;
}

.img-config {
    width: 50% !important;
}

.img-config > img {
    width: 100%;
}

.text-edit {
    width: 50%;
}

.text-edit button{
    background-color: var(--secundary-color-blue);
    color: var(--neutral-color-two-900);
    max-width: 200px;
    border-width: 2px;
    padding: 12px 24px;
    margin: 5px 0 0 160px;
}

.text-edit button:hover{
    color: var(--secundary-color-blue);
    max-width: 200px;
    border-width: 2px;
    border-color: var(--secundary-color-blue);
    padding: 12px 24px;
    margin: 5px 0 0 160px;
}

#containt-2 {
    margin: 0 120px 0 120px;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    color: var(--main-bg-color-purple);
}

#containt-2 img{
    height: 500px;
    transition: all 2s linear;
}

#containt-2 img:hover{
    transform: scale(1.3);
}

#containt-2 h1, #containt-2 p{
    padding-right: 160px;
}

#containt-2 p {
    color: var(--main-bg-color-black);
}

.containt-edit {
    width: 50%;
}

.containt-edit button{
    background-color: var(--secundary-color-blue);
    color: var(--neutral-color-two-900);
    max-width: 200px;
    border-width: 2px;
    padding: 12px 24px;
    margin: 5px 160px 0 0;
}

.containt-edit button:hover{
    color: var(--secundary-color-blue);
    max-width: 200px;
    border-width: 2px;
    border-color: var(--secundary-color-blue);
    padding: 12px 24px;
    margin: 5px 160px 0 0;
}

/* Estilos Melanie */


/* Estilos Catalina */


