* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF6F6;
}

main{
    margin: 0px 120px;
}

@font-face {
    font-family: 'BR-Firma';
    src: url('./src/fonts/BR-Firma-Medium.otf') format('truetype');
    font-style: medium;
    font-weight: 600;
}

@font-face {
    font-family: 'BR-Firma';
    src: url('./src/fonts/BR-Firma-Bold.otf') format('truetype');
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: 'BR-Firma';
    src: url('./src/fonts/BR-Firma-Regular.otf') format('truetype');
    font-style: regular;
    font-weight: 300;
}

@font-face {
    font-family: 'BR-Firma';
    src: url('./src/fonts/BR-Firma-Light.otf') format('truetype');
    font-style: light;
    font-weight: 200;
}

.title-1{
    font-family: 'BR-Firma';
    font-weight: bold;
    font-size: 3.052rem;
}

.large-title{
    font-family: 'BR-Firma';
    font-weight: bold;
    font-size: 2.441rem;
}

.title-2{
    font-family: 'BR-Firma';
    font-weight: bold;
    font-size: 1.953rem;
}

.headline{
    font-family: 'BR-Firma';
    font-weight: bold; 
    font-size: 1.563rem;
}

.button{
    font-family: 'BR-Firma';
    font-weight: bold;
    font-size: 1.10rem;
}

.txt-body{
    font-family: 'BR-Firma';
    font-weight: 300;
    font-size: 1rem;
}

.subhead{
    font-family: 'BR-Firma';
    font-weight: 600;
    font-size: 1.25rem;
}

.footnote{
    font-family: 'BR-Firma';
    font-weight: 200;
    font-size: 0.8rem;
}

:root{
    --main-bg-color-black:#2D332F;
    --main-bg-color-red: #FF4751;
    --main-bg-color-purple: #5759AE;
    --secundary-color-aquamarine: #4DC9C1;
    --secundary-color-yellowgreen: #E0E15F;
    --secundary-color-rose: #FF6E81;
    --secundary-color-blue: #00B8EC;
    --secundary-color-grey: #BAC8CB;
    --neutral-color-one: #57716F;
    --neutral-color-two: #C7B4B4; 
    --neutral-color-two-900:#FFF8F8;
}

.btn-primary{
    background-color: var(--main-bg-color-black);
    color: var(--neutral-color-two-900);
    border-color: var(--neutral-color-two-900);
    border-width: 0px;
}

.btn-primary:hover{
    background-color: var(--neutral-color-two-900);
    color: var(--main-bg-color-black);
    border-width: 0px;
}

.btn-secondary{
    background-color: var(--neutral-color-two-900);
    color: var(--main-bg-color-black);
    border-color: var(--main-bg-color-black);
    border-width: 0px;
}

.btn-secondary:hover{
    background-color: var(--main-bg-color-black);
    color: var(--neutral-color-two-900);
    border-width: 0px;
}

.btn-outline-primary{
    background-color: rgba(255,255 , 255, 0);
    color: var(--neutral-color-two-900);
    border-color: var(--neutral-color-two-900);
    border-width: 2px;
    border-radius: 4px;
}

.btn-outline-primary:hover{
    background-color: rgba(255,255 , 255, 0);
    color: var(--main-bg-color-black);
    border-color: var(--main-bg-color-black);
    border-width: 2px;
    border-radius: 4px;
}

.btn-outline-secondary{
    background-color: rgba(255,255 , 255, 0);
    color: var(--main-bg-color-black);
    border-color: var(--main-bg-color-black);
    border-width: 2px;
    border-radius: 4px;
}

.btn-outline-secondary:hover{
    background-color: rgba(255,255 , 255, 0);
    color: var(--neutral-color-two-900);
    border-color: var(--neutral-color-two-900);
    border-width: 2px;
    border-radius: 4px;
}


/* Estilos Nathalia */
.container-fluid {
    width: 100%;
    background-color: var(--neutral-color-two-900);
}   
    
header ul li {
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #02000D;
    transition: 0.7s;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 120px;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}

.logo img {
    margin: 20px 0;
    display: flex;
    width: 120px;
    height: auto;
}

#nav-items {
    display: flex;
}

#nav-items li {
    list-style: none;
    margin: 0 15px;
    text-decoration: none;
}

#nav-items li:hover a{
    color: var(--secundary-color-blue);
    font-weight: 700;
}

.front {
    background-image: url(./src/images/natha-img/portrait.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 550px;
}
/* Estilos Melanie */
.spotlightZone {
    display: flex;
    padding: 16px;
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color-black);
    justify-content: center;
}

.spotlightZone-content{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    column-gap: 72px;
}

.spotlightZone-content img {
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
    transition: all 0.3s ease;
}

.spotlightZone-content img:hover {
    scale:110%;
    transition: all 0.3s ease;
}

#spotlightZone-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
}


#spotlightZone-text h2, #spotlightZone-text p{
    color:var(--neutral-color-two-900);
}

#spotlightZone-text button{
    max-width: 200px;
    text-align: right;
    border-width: 2px;
}

#spotlightZone-text button{
    border-color:var(--neutral-color-two-900);
}
/* Estilos Catalina */


