#back {
    background-color: var(--neutral-color-one);
    padding: 12px 18px 12px 18px;
    border-width: 2px;
}

#back:hover {
    background-color: var(--main-bg-color-black)

}

#forward {
    background-color: var(--neutral-color-one);
    padding: 12px 18px 12px 18px;
    border-width: 2px;
}