#enviroment-section-container{
    margin:16px;
    display: flex;
    gap: 16px;
    align-items: top;
    justify-content: center;
    width: 100%;

}

#enviroment-section-container .headline{
    font-size: 1.4rem;
    margin: 12px 0px;
}

#enviroment-section-container .card img{
    margin-bottom: 24px;
    scale:150%;
}

#enviroment-section-container .card{
    overflow: hidden;
}

#enviroment-section-container .card:hover{
    background-color: var(--main-bg-color-black);
    color: var(--neutral-color-two-900);

}