.logi-footer {
    margin-top: 100px;
    padding: 0px 120px;
    background-color: var(--main-bg-color-black);
    color: var(--neutral-color-two-900);
}

.logi-footer a{
    color: var(--neutral-color-two-900) !important;
}

.logi-footer a:hover{
    text-decoration: underline;
}

.logi-footer button{
    background-color: var(--secundary-color-blue);
    color: var(--main-bg-color-black)
}